/* Here we can set styles for this lab page that we don't want to effect others pages */

/* the period in a CSS selector selects an element by class, e.g., class="minor-section" */
body {
  background-color: rgb(24, 68, 43);
}

#content {
  background-color: rgb(55, 131, 66);
  border: dotted 1px rgb(59, 126, 68);
}

.minor-section {
  padding: 10px;
  margin-bottom: 10px;
  border: solid 1px #227c2a;
  background-color: #9fd4ac;
}

  #links {
    background-color: #9fd4ac;
  }
