/* Here we can set styles for this lab page that we don't want to effect others pages */

/* the period in a CSS selector selects an element by class, e.g., class="minor-section" */
.minor-section {
    padding: 10px;
    margin-bottom: 10px;
    border: solid 1px #888;
    background-color: #DDD8C4;
  }

#output {
  text-align: right;
  margin-right: 100px;
}

h3 {
    font-size: 150%;
    font-style: italic;
    text-decoration: underline;
  }

#scriptOutput {
  padding: 30px;
  margin-left: 100px;
  margin-right: 1210px;
  margin-top: -550px;
  margin-bottom: 100px;
  border: solid 1px #ffcb20;
  background-color: #ffe992;
  text-align: center;
}