/* Here we can set styles for this lab page that we don't want to effect others pages */

/* the period in a CSS selector selects an element by class, e.g., class="minor-section" */
.minor-section {
    padding: 10px;
    margin-bottom: 10px;
    border: solid 1px #aac7ee;
    background-color: #f5f0b0;
  }

  #challenge .special {
    padding: 10px;
    margin-bottom: 10px;
    margin-left: 700px;
    margin-right: 675px;
    border: solid 5px #e26096;
    background-color: #f89dd2;
  }

  #problems .special {
    padding: 10px;
    margin-bottom: 10px;
    margin-left: 700px;
    margin-right: 675px;
    border: solid 5px #e2992c;
    background-color: #f3a861;
  }

  #reflection .special {
    padding: 10px;
    margin-bottom: 10px;
    margin-left: 700px;
    margin-right: 675px;
    border: solid 5px #85d65f;
    background-color: #a8e595;
  }

  #results .special {
    padding: 10px;
    margin-bottom: 10px;
    margin-left: 700px;
    margin-right: 675px;
    border: solid 5px #eb7262;
    background-color: #eea592;
  }

  .red {
    color: #e26096;
  }

  .blue {
    color: #638ad3;
  }

  .green {
    color: #58d65e;
  }